:root{
    /*color*/
    --white-color:#fff;
    --black-color:black;
    --blue-color:#045fd4;
    --red-color:#ff0000;
    --grey-dark-color:#909090;
    --grey-ligth-color:#e0e0e0;
    /*Size*/
    --padding:12px;
    --avatar-size:36px;
    /*Font Size*/
    --font-large:17px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    font-family: Roboto;
}
ul{
    list-style: none;
    
}
button,
button:focus{
    border:none;
    cursor: pointer;
    outline: none;
    background-color: var(--white-color);
}

/*Header*/
header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}
/*header logo*/
header .logo{
    font-size: var(--font-large);
}
/*logo안에 아이콘*/
header .logo i{
    color:var(--red-color);
}
/*돋보기 아이콘*/
header .icons .fa-search{
    margin-right: var(--padding);
}
/*player*/
.player{
    text-align: center;
    background-color: var(--black-color);
    position: sticky;
    top:0
}
/*player안에 비디오*/
.player iframe{
    width: 100%;
    height: 100%;
    max-width: 1000px;
}
/*info*/
body >.info{
    padding: var(--padding);
}
.info .metadata .hashtag{
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}
.info .metadata .hashtag li{
    margin-right: var(--padding);
}
.info .metadata .titleAndBtn{
    display: flex;
}
.info .metadata .titleAndBtn .title{
    font-size: var(--font-medium);
    margin-right: var(--padding);
}
.info .metadata .titleAndBtn .moreBtn{
    height:100%;
}
.info .views{
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
.actions{
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;
}
.actions button{
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
.actions button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding) /2);
    font-size: 16px;
}
/*action안에 button 아이콘에 마우스효과*/
.actions button:hover{
    color: var(--blue-color);
}

.channel{
    display: flex; /*나란히*/
    justify-content: space-between; /*양 옆에*/
    border-bottom: 1px solid var(--grey-dark-color);/*색상*/
    border-top: 1px solid var(--grey-ligth-color);/*색상*/
}

.channel .metadata {
    display: flex;
    align-items: center; 
}
.channel .metadata .info{
    display: flex;
    flex-direction: column; /*column은 행 row는 열*/
}
/*프로필 사진*/
.channel .metadata img{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%; /*사진 둥글게*/
}
.channel .metadata .info .name{
    font-size: var(--font-medium); 
}
.channel .metadata .info .subscribers{
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
.channel .subscribe{
    color: var(--red-color);
}
.UpNext{
    padding: 0 var(--padding);
}
.UpNext >.title{
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(var(--padding)/2);
}
.upnaet .item{
    display: flex;
    margin-top: var(--padding);
}
.upnaet .item img{
    flex: 1 1 35%;
    margin-right: var(--padding);
}
.upnaet .item .img img{
    width: 100%;
}
.upnaet .item .info{
    flex: 1 1 60%;
}
.upnaet .item .moreBtn{
    flex: 1 1 5%;
}
.infoAndUpNaext{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px){
    .infoAndUpNaext{
        flex-direction: row;
        margin: var(--padding) 0;
    }
}
    
